* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0 !important;
    color: #333 !important;
}

.navbar {
    background-color: #F1D099;
}

.navbar-logo {
    width: 100px;
    height: 100px;
}

.navbar-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

#products {
    max-width: 1400px;
}

.img-size {
    max-width: 225px;
    max-height: 225px;
}

.price-stock {
    margin-top: auto !important;
}