{{>header}}

<main>
    <h1 class="text-center mt-5 mb-4">Carrito</h1>
    <div class="container" id="cart-container"></div>
    <div class="container d-flex justify-content-end align-items-center gap-2 mb-5" id="cart-amount"></div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/cart.js"></script>