{{>header}}

<main>
    <h1 class="text-center mt-5 mb-4">Productos</h1>
    <section class="container-fluid d-flex justify-content-center flex-wrap gap-5 mb-5" id="products"></section>
</main>

<script src="js/home.js"></script>