{{>header}}

<main>
    <h1 class="text-center mt-5 mb-3">Iniciar Sesión</h1>
    <div class="container form-container shadow">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <div id="emailError" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password">
                <div id="passwordError" class="form-text text-danger"></div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="showPasswordCheck">
                <label class="form-check-label" for="showPasswordCheck">Mostrar Contraseña</label>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <span><a href="/register">¿No tienes una cuenta? Regístrate</a></span>
            </div>
            
        </form>
    </div>
    <div style="position:absolute; right:30px; bottom:30px;">
        <button type="button" class="btn btn-primary" onclick="showInfo()">Info</button>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/login.js"></script>