{{>header}}

<main>
    <h1 class="text-center mt-5 mb-4">Usuarios</h1>
    <section class="container-fluid d-flex justify-content-center flex-wrap gap-5 mb-5" id="users"></section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/usersManagement.js"></script>