<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="assets/logo.png" class="navbar-logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Inicio</a>
                    <a class="nav-link" id="productsManagement" href="/productsManagement"><i class="fa-solid fa-clipboard"></i> Administrar Productos</a>
                    <a class="nav-link" id="usersManagement" href="/usersManagement"><i class="fa-solid fa-users"></i> Administrar Usuarios</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" id="login" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesion</a>
                    <a class="nav-link" id="profile" href="/profile"><i class="fa-solid fa-id-card"></i> Mi Perfil</a>
                    <a class="nav-link" id="cart" href="/cart"><i class="fa-solid fa-cart-shopping"></i> Carrito<span class="cart-count" id="cart-count"></span></a>
                </div>
            </div>
        </div>
    </nav>
</header>

<script src="js/checkRole.js"></script>